@import "tailwindcss";

@theme {
  --font-header: "Fraunces", serif;
  --font-body: "Nunito Sans", sans-serif;

  --color-accent: #047857;
  /* emerald-700 */
  --color-accent-hover: #065f46;
  /* emerald-800 */

  --radius-button: 0.5rem;
  /* rounded-lg */
  --color-primary: #047857;
}

@layer utilities {
  .font-header {
    font-family: var(--font-header);
  }

  .font-body {
    font-family: var(--font-body);
  }
}

/* Landscaper Base Styles */
body {
  background-color: #ffffff;
  color: #1e293b;
  /* slate-800 */
}