@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-primary: #064e3b;
  /* Emerald 900 */
  --color-secondary: #065f46;
  /* Emerald 800 */
  --color-accent: #15803d;
  /* Green 700 - Nature/Growth */
  --color-stone: #78716c;
  /* Stone 500 - Hardscaping */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-primary antialiased selection:bg-accent/20 selection:text-white;
  }
}